<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
{# Add the native WordPress header.php #}

{% embed "embeds/header-head.twig" %}
    {% block head_content %}
		<title>{{ post.title }} | {{ site.name }}</title>
        {{ function('wp_head') }}
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="languageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Change Language
			</button>
			<div class="dropdown-menu" aria-labelledby="languageButton">
				<a class="dropdown-item" href="{% do action('change_lang', 'eng') %}">English</a>
				<a class="dropdown-item" href="{% do action('change_lang', 'xho') %}">Xhosa</a>
			</div>
		</div>
    {% endblock %}
{% endembed %}

<body {{ fn('body_class') }}>


<div id="page" class="hfeed site">
    {% embed "embeds/header-navbar.twig" %}
        {% block navbar_modals %}
			{% embed "embeds/modal-menu.twig" %}
			{% endembed %}
        {% endblock %}

    {% endembed %}


	 {# Include the .twig template extended off base.twig #}
	 {% block content %}
	 {% endblock %}

</div>
</div><!-- #page -->

{# Embed footer #}
{% embed "embeds/footer.twig" %}

{% endembed %}

{# Add the native WordPress footer function #}
{{ function('wp_footer') }}


<!--GOOGLE ANALYTICS SCRIPT-->
<script>

</script>



</body>

</html>