<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
{# Add the native WordPress header.php #}

{% embed "embeds/header-head.twig" %}
    {% block head_content %}
		<title>{{ post.title }} | {{ site.name }}</title>
        {{ function('wp_head') }}
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endblock %}
{% endembed %}

<body {{ fn('body_class') }}>


<div id="page" class="hfeed site">

	 {# Include the .twig template extended off base.twig #}
	 {% block content %}
	 {% endblock %}

</div>
</div><!-- #page -->

{# Add the native WordPress footer function #}
{{ function('wp_footer') }}


<!--GOOGLE ANALYTICS SCRIPT-->
<script>

</script>

</body>

</html>