{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div id="page-wrapper" class="wrapper  background-secondary " xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid my-4">
            <div id="profile-form" class="row my-3">
                <div class="col-12">
                    <div class="card px-md-5 py-lg-5 p-3">
                        <div class="row justify-content-center">
                            <div class="col-12 ">
                                <h1 class="pb-3 text-center text-bold">{{post.get_field(lang.prefix~'page_title')}}</h1>
                            </div>
                            <div class="col-12 text-center">
                                {# TODO: Re-add this once decision on language changing has been reached #}
                                {% if lang.id == 'eng' %}
                                    <a class="change-lang btn btn-lg primary-border primary-bg  d-inline-block" href="?lang=xho"><span class=" change-lang-icon align-items-center justify-content-center text-uppercase mr-2" >xho</span><span class="">Tshintsha ulwimi</span></a>
                                {% else %}
                                    <a class="change-lang btn btn-lg primary-border primary-bg  d-inline-block" href="?lang=eng"><span class="change-lang-icon  align-items-center justify-content-center text-uppercase mr-2" >eng</span><span class="">Change language</span></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-12">
                            <div class="card justify-content-between justify-content-center primary-border"> 
                                <div class="row  no-gutters">
                                    <div class="col-md-6 p-4">
                                        <h4 class="text-bold">{{post.get_field(lang.prefix~'current_course_header')}}: </h4>
                                        <h5>{{course.course_title}}</h5>
                                        <p class="mt-3">{{post.get_field(lang.prefix~'progress_label')}}: {{course_progress}}%</p>
                                    </div>
                                    <div class="col-md-6 p-4 d-flex justify-content-center justify-content-md-end align-items-center">
                                        <a class = "btn btn-lg primary-border primary-bg module-nav-button p-3 rounded d-inline-block" href="{{course.link}}">
                                        <p class = " mb-0" style="color:white">{{post.get_field(lang.prefix~'go_to_course_link')}}<img class = "p-2 " src = "/wp-content/themes/fundawande/assets/arrow_right.svg"></p></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                        </div>
                        {% embed "embeds/profile_form.twig" %}

                        {% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
