{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper contacts-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container-fluid background-white">
            <div class = "row" >
                <div class = "col-12">
                    <h1 class="text-center m-4">Contacts</h1>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <div class="row">

                <!-- Coach Card -->
                <div class="col-12 col-md-4">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            {% set coach_fields = post.meta('coach_card') %}
                            <h5>
                                <span class="pr-2">{{ source('assets/contacts/coach_icon.svg') }}</span> 
                                <strong>{{attribute(coach_fields, lang.prefix~'title')}}</strong>
                            </h5>
                            <hr>
                            {% if user.has_coach %}
                                <p>
                                    <strong>{% if lang.id == 'eng' %}Name: {% else %}Igama: {% endif %}</strong>
                                    Clark Kent
                                </p>
                                <p>
                                    <strong>{% if lang.id == 'eng' %}Email: {% else %}Imeyile: {% endif %}</strong>
                                    clark@fundawande.org
                                </p>
                                <div class="text-center pt-md-5">
                                    <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#">
                                        <span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>
                                        {% if lang.id == 'eng' %}Contact{% else %}Qhagamshelana{% endif %}
                                    </a>
                                </div>
                            {% else %}  
                                <p>{{attribute(coach_fields, lang.prefix~'no_coach_message')}}</p>
                                <div class="text-center pt-3">
                                    <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#">
                                        <span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>
                                        {% if lang.id == 'eng' %}Contact{% else %}Qhagamshelana{% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Support Contact Card -->
                 <div class="col-12 col-md-4">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            {% set support_fields = post.meta('support_card') %}
                            <h5>
                                <span class="pr-2">{{ source('assets/contacts/support_icon.svg') }}</span>
                                <strong>{{attribute(support_fields, lang.prefix~'title')}}</strong></h5>
                            <hr>
                            <p>
                                <strong>{% if lang.id == 'eng' %}Name: {% else %}Igama: {% endif %}</strong>
                                {{support_fields.support_name}}
                            </p>                            
                            <p>
                                <strong>{% if lang.id == 'eng' %}Email: {% else %}Imeyile: {% endif %}</strong>
                                {{support_fields.support_email}}
                            </p>                            
                            <div class="text-center pt-md-5">
                                <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#">
                                    <span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>
                                    {% if lang.id == 'eng' %}Contact{% else %}Qhagamshelana{% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Admin Contact Card -->
                <div class="col-12 col-md-4">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            {% set admin_fields = post.meta('admin_card') %}
                            <h5>
                                <span class="pr-2">{{ source('assets/contacts/support_icon.svg') }}</span>
                                <strong>{{attribute(admin_fields, lang.prefix~'title')}}</strong>
                            </h5>
                            <hr>
                            <p>
                                <strong>{% if lang.id == 'eng' %}Name: {% else %}Igama: {% endif %}</strong>
                                {{admin_fields.admin_name}}
                            </p>
                            <p>
                                <strong>{% if lang.id == 'eng' %}Email: {% else %}Imeyile: {% endif %}</strong>
                                {{admin_fields.admin_email}}
                            </p>
                            <div class="text-center pt-md-5">
                                <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#">
                                    <span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>
                                    {% if lang.id == 'eng' %}Contact{% else %}Qhagamshelana{% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div><!-- end #wrapper -->

    {# Embed footer template #}
    {% embed "embeds/footer.twig" %}{% endembed %}
{% endblock %}


