{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper contacts-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container-fluid background-white">
            <div class = "row" >
                <div class = "col-12">
                    <h1 class="text-center m-4">Contacts</h1>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <div class="row">
                <div class="col col-md-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5><span class="pr-2">{{ source('assets/contacts/coach_icon.svg') }}</span> <strong>Coach</strong></h5>
                            <hr>
                            <p><strong>Name: </strong>Clark Kent</p>
                            <p><strong>Email: </strong>clark@fundawande.org</p>
                            <div class="text-center pt-3">
                                <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#"><span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col col-md-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5><span class="pr-2">{{ source('assets/contacts/support_icon.svg') }}</span> <strong>Coach</strong></h5>
                            <hr>
                            <p><strong>Name: </strong>Clark Kent</p>
                            <p><strong>Email: </strong>clark@fundawande.org</p>
                            <div class="text-center pt-3">
                                <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#"><span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5><span class="pr-2">{{ source('assets/contacts/admin_icon.svg') }}</span> <strong>Coach</strong></h5>
                            <hr>
                            <p><strong>Name: </strong>Clark Kent</p>
                            <p><strong>Email: </strong>clark@fundawande.org</p>
                            <div class="text-center pt-3">
                                <a class = "btn btn-lg primary-btn-fill contacts-btn mx-auto" href="#"><span class="pr-2">{{ source('assets/contacts/email_icon.svg') }}</span>Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->

    {# Embed footer template #}
    {% embed "embeds/footer.twig" %}{% endembed %}
{% endblock %}


