{# Choose base on which to extend this template #}
{% extends "login-base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper login-wrapper background-secondary d-flex align-items-center" xmlns="http://www.w3.org/1999/html">
        <div class="container card login-card m-4">
            <div class="row login-row my-1">
                <!-- Login Form -->
                <div class="col-12 col-md-6 login px-md-5 py-md-5 py-3">
                    <div class="text-center login-header py-3">
                        {{ source('assets/logos/fw_logo_landscape.svg') }}
                        {# <h5 class = "mt-4 login-language-label">Change language/Tshintsha ulwimi</h5>
                        <form method="GET">
                            <div class = "btn-group" role = "group" aria-label="Change Language buttons">
                                    <button class = "btn login-language-button {% if lang.id == 'eng'%} active-button {% endif %}" type = "submit" name = "login_lang" value ="eng">English</button>
                                    <button class = "btn login-language-button {% if lang.id == 'xho'%} active-button {% endif %}" type = "submit" name = "login_lang" value ="xho">Xhosa</button>
                            </div>
                        </form> #}
                    </div>
                    <div class = "login-form">
                        {% do action('show_login_form') %}
                        {% if error_message %}
                            <div class="login-alert p-3" role="alert"> 
                                <p>{{ post.get_field(lang.prefix~error_message) }}</p>
                                <div class = "my-3 text-center"><a class = "login-help fw-get-help login-error text-center" href = "#">{{post.get_field(lang.prefix~'get_help_text')}}</a> </div>
                            </div>
                        {% else %}
                            <div class = "my-3 text-center"><a class = "login-help fw-get-help login-noerror " href = "#">{{post.get_field(lang.prefix~'get_help_text')}}</a> </div>
                        {% endif %}

                        <div class="my-3 text-center">
                            <h4 class="text-center text-secondary">{{post.get_field(lang.prefix~'registration_text')}}</h4>
                            <a class="btn btn-secondary " href= "/register">{{post.get_field(lang.prefix~'registration_link')}}</a>
                        </div>
                    </div>
                </div>
                <!-- Desktop sidebar -->
                <div class="col-12 col-md-6 sidebar px-5 d-none d-md-block">
                    <div class="text-center sidebar-media">
                        {% for content in post.get_field('sidebar_media') %}
                            {# Image #}
                            {% if content.acf_fc_layout == 'image' %}
                                {% include '/embeds/login-sidebar-image.twig' %}
                            {% endif %}    
                            {# Video #}
                            {% if content.acf_fc_layout == 'video' %}
                                {% include '/embeds/login-sidebar-video.twig' %}
                            {% endif %}  
                        {% endfor %}
                    </div>
                    <hr>
                    <div class = "text-justify">{{ post.get_field(lang.prefix~'sidebar_content') }}</div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
