{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper resources-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container-fluid background-primary">
            <div class = "row" >
                <div class = "col-12">
                    <h1 class="text-center m-4">{{fn('the_title')}}</h1>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <!-- Category filter -->
            <div class="background-primary category-filter mt-3 p-2">
                <h5 class="text-italic text-center">Find the videos you need by choosing a category:</h5>
                <input data-cat="all-categories" type="radio" id="all-categories" name="filter-resources">
                <label for="all-categories" class="resource-filter m-2">All Categories</label>
                {% for cat in categories %}
                    <input data-cat="{{ cat.slug }}" type="radio" id="{{ cat.slug }}" name="filter-resources">
                    <label for="{{ cat.slug }}" class="resource-filter m-2">{{ cat.name }}</label>
                {% endfor %}
            </div>

            <div id="loadingResults" class="text-center w-100 py-5" style="display:none"><span class="resource-loader">{{source('/assets/loading/three-dots.svg')}}</span></div>

            <!-- Video Resources -->
            <div id="resource-list" class="row my-4">
                {% set videoResourceData = [] %}
                {% for resource in resources %}
                    {% if resource.custom.resource_type == 'Video' %}
                        {# Remove whitespace from beginning and end of the file name before appending to media url #}
                        {% set video_file_name = resource.custom.video_file_name | trim %}
                        {% set media_file = media_url~video_file_name %}

                        {% 
                        set videoResourceData = {
                            media: resource.custom.video_media,
                            file: media_file,
                            title: resource.post_title,
                            date: resource.date,
                            description: resource.custom.video_description,
                            index: loop.index
                        } 
                        %}
                        <div class="col-md-4 p-3">
                            {{ mixin.videoResourceItem(videoResourceData) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div> <!-- end container -->
    </div><!-- end #wrapper -->

    {# Embed footer template #}
    {% embed "embeds/footer.twig" %}{% endembed %}
{% endblock %}


