<!-- Expanded Sidebar Progress Component -->
<div id="{{ carousel_id }}" class="lesson-carousel  carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        {% for item in content.carousel_items %}
            <li data-target="#{{ carousel_id }}" data-slide-to="{{ loop.index - 1 }}" class="module-bg-{{ module_number }} {% if loop.index == 1 %}active{% endif %}">{{loop.index}}</li>
        {% endfor %}
    </ol>
    <div class="" role="listbox">
        <!-- Navigation Buttons -->

        <div class = "carousel-control-container d-flex w-100 justify-content-between">
            <a class="lesson-carousel-control lesson-carousel-control-prev mx-4" href="#{{ carousel_id }}" role="button" data-slide="prev">
                <div class = "lesson-carousel-control-icon d-flex justify-content-center">
                    <span class="module-svg-icon-fill-{{module_number}}" aria-hidden="true">{{source('/assets/carousel_prev.svg')}}</span>
                    <span class="sr-only">Previous</span>
                </div>
            </a>
            <a class="lesson-carousel-control lesson-carousel-control-next mx-4" href="#{{ carousel_id }}" role="button" data-slide="next">
                <div class = "lesson-carousel-control-icon d-flex justify-content-center">
                    <span class="module-svg-icon-fill-{{module_number}}" aria-hidden="true">{{source('/assets/carousel_next.svg')}}</span>
                    <span class="sr-only">Next</span>
                </div>
            </a>
        </div>

        {% for item in content.carousel_items %}
            <div class="carousel-item  {% if loop.index == 1 %}active{% endif %}">
                <div class = "lesson-image-wrapper row justify-content-center">
                    <div class="lesson-carousel-image col fw-media">
                        <img class = "d-block " src ="{{ item.image }}">
                    </div>
                    {% block carousel_text %}
                        <div class="col-12">
                            <div class="container lesson-carousel-text text-center">
                                <h4 class = "text-center mt-3"><strong>{{ item.title }}</strong></h4>
                                <div class = "text-center m-2">{{ item.text }}</div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>