{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper single-module-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">

        <div class = "container-fluid">
            <div class = "row module-title">
                <div class = "col-sm-12 text-center">
                    <h1 class = "mt-4"><strong>Module {{module_number}}</strong></h1>
                    <h1 class = "text-center mb-4">{{function('single_term_title')}}</h1>
                </div>
            </div>
        </div>
        <div class = "container-fluid background-secondary">
            <div class = "container p-3">
                {% for unit in units %}
                    <div class = "unit card my-3 {% if unit.current %}current{% endif %}">
                        {% if unit.current %}
                            <span class="current-unit-text">Current Unit</span>
                        {% endif %}
                        <div class = "card-body">
                            <div class = "row">
                                <div class = "col-12">
                                    <!-- Unit Card Header -->    
                                    <div class = "row unit-header">
                                        <div class = "col-12 col-md-8">
                                            <div class = "unit-header-content d-flex">
                                                <div class = "unit-header-counter d-flex mr-2 px-2">
                                                    <h3 class = "m-0">{{module_number}}.{{loop.index}}</h3>
                                                </div>
                                                {% set completed = 0 %}
                                                {% for  lesson in unit.lessons  %}
                                                    {% if lesson.complete %}
                                                        {% set completed = completed + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class = "unit-header-text">
                                                    <h2><strong>{{unit.name}}</strong></h2>
                                                    <p class = "module-text-{{module_number}} module-progress m-0">{{ completed }}/{{ unit.lessons|length }} Lessons Complete</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Unit navigation buttons tablet and desktop-->
                                        <div class = "col-sm-12 col-md-4 text-right d-none d-md-flex">
                                            <!-- TODO: Add link to current sub-unit-->
                                            <a class = "{% if not unit.current %}collapsed{% endif %} button-secondary mr-3 d-flex  module-svg-fill-{{ module-number }} align-items-center module-border-{{ module-number }} module-text-{{ module-number }} unit-header-navigation " href="" data-toggle="collapse" data-target="#collapse-unit{{ loop.index }}" aria-expanded="{% if unit.current %}true{% else %}false{% endif %}" aria-controls="collapse-unit{{ loop.index }}">
                                                <span class="mr-2 d-inline-block" style="max-width: 80px">View lessons</span>{{ source('assets/lms/expand_icon.svg') }}
                                            </a>
                                            <a class = "btn btn-info module-bg-{{module_number}} unit-header-navigation " href="#">
                                                Resume Unit {{ source('assets/arrow_right.svg') }}
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <!-- Unit Card Content -->
                            <div class = "row unit-content">
                                <div class = "col-sm-11">
                                    <p>{{unit.description}}</p>
                                    <div class = "sub-units row no-gutters collapse {% if unit.current %}show{% endif %}" id="collapse-unit{{ loop.index }}">
                                        {% for lesson in unit.lessons %}
                                            <div class = "sub-units-icon row text-center col-md-2 no-gutters ">
                                                <div class="stage-progress-item-divider {%  if lesson.complete or lesson.current %}module-divider-before-{{ module_number }}{% endif %} col">

                                                </div>
                                                <a {%  if lesson.complete or lesson.current %}href = "{{function('get_post_permalink', lesson.ID)}}"{% endif %} class="col-auto module-svg-fill-{{ module_number }} {%  if lesson.complete  %}complete {% endif %} {%  if lesson.current  %}module-border-{{ module_number }} current{% endif %} {%  if not (lesson.complete or lesson.current ) %}disabled{% endif %}">
                                                    <span class="{%  if lesson.current  %}module-bg-{{ module_number }}{% endif %}">{%  if lesson.current  %}Up next{% endif %}</span>
                                                    {{ source('assets/lms/recall_quiz.svg') }}
                                                    <p class = "py-2">{{lesson.post_title}}</p>
                                                </a>

                                            </div>


                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class = "row">
                                <!--Unit navigation buttons mobile-->
                                <div class = "col-sm-12 text-right d-md-none">
                                    <hr>
                                    <!-- TODO: Add link to current sub-unit-->
                                    <a class = "btn btn-info module-bg-{{module_number}} unit-header-navigation " href "#">
                                        Resume Unit <img class = "p-2" src = "/wp-content/themes/fundawande/assets/arrow_right.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
