{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class = "container-fluid">
        <div class = "row module-title">
            <div class = "col-sm-12 text-center">
                <h1 class = "mt-4"><strong>Module {{module_number}}</strong></h1>
                <h1 class = "text-center mb-4">{{function('single_term_title')}}</h1>
            </div>
        </div>
    </div>
    <div class="wrapper single-module-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container">
            {% for unit in units %}
                <div class = "card my-3">
                    <div class = "card-body">
                        <div class = "row">
                            <div class = "col-sm-12">
                                <!-- Unit Card Header -->    
                                <div class = "row unit-header">
                                    <div class = "col-sm-12 col-md-8">
                                        <div class = "unit-header-content d-flex">
                                            <div class = "unit-header-counter d-flex p-2">
                                                <h3>{{module_number}}.{{loop.index}}</h3>
                                            </div>
                                            <div class = "unit-header-text">
                                                <h2><strong>{{unit.name}}</strong></h2>
                                                <h4 class = "module-text-{{module_number}} module-progress d-none d-sm-block">5/7 Lessons Complete</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "col-sm-12 col-md-4 text-right">
                                        <a class = "btn module-bg-{{module_number}}" href "#">
                                            Resume Unit
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- Unit Card Content -->
                        <div class = "row unit-content">
                                <div class = "col-sm-12">
                                    <p class = "p-3">{{unit.description}}</p>
                                    <div class = "sub-units d-flex">
                                        {% for lesson in unit.lessons %}
                                            <div class = "m-3 p-3 text-center">
                                                <img class = "img img-rounded" src = "https://via.placeholder.com/50">
                                                <p class = "py-2">{{lesson.post_title}}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- #wrapper -->
{% endblock %}
