{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper single-course-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container-fluid">
            <div class = "row course-title">
                <div class = "col-12 text-center">
                    <h1 class = "m-4"><strong>{{post.get_field('course_title')}}</strong></h1>
                </div>
            </div>
        </div>
        <div class = "container-fluid background-secondary">
            <div class = "container p-3">


                {% for module in modules %}
                    {% set completed = 0 %}
                    {% for unit in module.units %}
                        {% if unit.complete %}
                            {% set completed = completed + 1 %}
                        {% endif %}
                    {% endfor %}
                    <a class = "module-link" href = "{{module.link}}">

                        <div class = "card my-3 {% if module.current %}current{% endif %} d-inline-block w-100">
                            {% if module.current %}
                                <span id = "current" class="current-module-text">{{attribute(options, lang.prefix~'current_module_text')}}</span>
                            {% endif %}
                            <div class = "card-body">
                                <div class = "row">
                                    <!-- Module Info -->
                                    <div class = "col-12 col-md-10">
                                        <div class = "header d-flex">
                                            <div class = "module-bg-{{module.module_number}} header-counter mr-2 p-4">
                                                <h3 class= "m-0">{{module.module_number}}</h3>
                                            </div>
                                            <div class = "header-text">
                                                <h2><strong>{{module.module_title}}</strong></h2>
                                                <h4 class = "module-text-{{module.module_number}} module-progress d-none d-sm-block">{{completed}}/{{module.units|length}} {{attribute(options, lang.prefix~'unit_progress_text')}}</h4>
                                            </div>
                                        </div>
                                        <hr>
                                        <p>{{module.module_description}}</p>
                                    </div>
                                    <!-- Module Navigation Button -->
                                    <div class = "col-12 col-md-2 module-nav d-flex">
                                        <h4 class = "module-text-{{module.module_number}} module-progress m-3 d-sm-none">{{completed}}/{{module.units|length}} {{attribute(options, lang.prefix~'unit_progress_text')}}</h4>
                                        <div class = "module-bg-{{module.module_number}} module-nav-button p-3 d-flex">
                                            <img class = "img img-responsive d-none d-md-block p-3" src = "/wp-content/themes/fundawande/assets/arrow_right.svg">
                                            <h3 class = "text-center my-0">{{attribute(options, lang.prefix~'nav_text')}}<img class = "p-2 d-md-none" src = "/wp-content/themes/fundawande/assets/arrow_right.svg"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
