{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Set lesson number #}
{% set lesson_number=0 %}
{% set lesson_complete = false %}
{% for lesson in sub_unit_meta.unit_lessons %}

    {% if lesson.ID == quiz_lesson.ID %}
        {% set lesson_number=loop.index %}
        {% if lesson.complete %}
            {% set lesson_complete = true %}
        {% endif %}
    {% endif %}

{% endfor %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper single-lesson-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        {# Include mobile or desktop progress #}
        {% if is_mobile %}
            {% include '/lms/embeds/lesson-progress-mobile.twig' %}
        {% else %}
            {% include '/lms/embeds/lesson-sidebar.twig' %}
        {% endif %}

        <div class = "container-fluid lesson-header">
            <div class = "container">
                <div class = "row lesson-navigation-top">
                    <div class = "col-2 col-md-4">
                        <a class = "btn module-btn-outline-{{module_number}} py-4 my-4" href = "{{sub_unit_meta.unit.link}}">
                            {{source('/assets/arrow_left.svg')}}
                            <br>
                            <span class = "d-none d-md-block">{{attribute(options, lang.prefix~'back_to_units_text')}}</span>
                        </a>
                    </div>
                    <div class = "col-10 col-md-4 text-center my-4">
                        <!-- TODO: change lesson number to be dynamic-->
                        <h1><strong>Lesson {{ lesson_number }}/{{sub_unit_meta.unit_lessons|length}}</strong></h1>
                        <h1>{{quiz_lesson.get_field('lesson_title')}}</h1>

                    </div>
                </div>
            </div>
        </div>

        {%  if quiz_retry or lesson_complete %}
            <!-- Quiz messages-->
            <div class = "container mt-5">
                <div class="row">

                        {%  if quiz_retry %}
                            <div class="col">
                                <p>Sorry you did not succeed this time. Once you have reviewed feedback you can either go back and review the Unit of try again right away.</p>
                            </div>
                            <div class="col-auto">
                                <a   class="btn mr-md-3 mr-0 module-btn-outline-{{sub_unit_meta.module_number}}" href="{{fn('get_permalink',sub_unit_meta.unit_lessons[0].ID)}}" >
                                    Review Unit
                                </a>
                                <a id="quiz-reset"  class="btn module-btn-fill-{{sub_unit_meta.module_number}}" href="#" >
                                    Retry quiz
                                </a>
                            </div>

                        {% elseif lesson_complete %}
                            <div class="col-12">
                                <p>Well done, you passed the quiz! Review the feedback below and then click 'Continue' at the bottom to proceed</p>
                            </div>
                        {% endif %}


                </div>
                <hr>
            </div>
        {% endif %}


        <!-- Lesson Content-->
        {% include '/lms/embeds/lesson-content.twig' %}
        <!-- Quiz Content-->
        <div class = "container mt-5">
            <div class="row">
                <div class="col-12">
                {% do action('fundawande_single_quiz_content',post.id) %}

                </div>
            </div>
        </div>
        <!-- Bottom navigation-->
        <div class = "container pb-5">
            <div class="row my-0 justify-content-between">
                <div class="lesson-navigation-bottom col-12 col-md-auto text-center py-1 py-md-0">
                    {% if sub_unit_meta.nav.prev %}
                        <a href = "{{fn('get_permalink',sub_unit_meta.nav.prev)}}" class = "btn module-btn-outline-{{module_number}}"> <span class = "px-2">{{source ('/assets/arrow_left.svg')}}</span>{{attribute(options, lang.prefix~'prev_nav_text')}}</a>
                    {% endif %}
                </div>
                <div class=" lesson-navigation-bottom col-12 col-md-auto text-center py-1 py-md-0">
                    {% if quiz_retry %}
                        <a   class="btn mr-md-3 mr-0 module-btn-outline-{{sub_unit_meta.module_number}}" href="{{fn('get_permalink',sub_unit_meta.unit_lessons[0].ID)}}" >
                            Review Unit
                        </a>
                        <a id="quiz-reset"  class="btn module-btn-fill-{{sub_unit_meta.module_number}}" href="#" >
                            Retry quiz
                        </a>
                    {% elseif lesson_complete %}
                        {% if sub_unit_meta.is_last_in_unit %}
                            {% include '/embeds/modals/modal-end-unit.twig' %}
                            {# If a custom feedback message has been added for this lesson, fire a modal which displays the feedback before showing the end of unit modal #}
                            {% if post.get_field('custom_feedback_message') %}
                                {% include '/embeds/modals/modal-end-lesson.twig' %}
                                <button  type="button" class="btn module-btn-fill-{{sub_unit_meta.module_number}}" data-user-id="{{ user.ID }}" data-post-id="{{ post.ID }}" data-toggle="modal" data-target="#end-lesson-modal">
                                    {{attribute(options, lang.prefix~'complete_unit_text')}} <span class = "px-2">{{source ('/assets/arrow_right.svg')}}</span>
                                </button>
                            {% else %}
                                <button type="button" class="btn module-btn-fill-{{sub_unit_meta.module_number}}" data-user-id="{{ user.ID }}" data-post-id="{{ post.ID }}" data-toggle="modal" data-target="#end-unit-modal">
                                    {{attribute(options, lang.prefix~'complete_unit_text')}} <span class = "px-2">{{source ('/assets/arrow_right.svg')}}</span>
                                </button>
                            {% endif %}
                        {% else %}
                            <a id="lesson-complete" href = "#" class = "btn module-btn-outline-{{sub_unit_meta.module_number}}" data-user-id="{{ user.ID }}" data-post-id="{{ post.ID }}" data-url="{{fn('get_permalink',sub_unit_meta.nav.next)}}">{{attribute(options, lang.prefix~'next_nav_text')}} <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span></a>
                        {% endif %}
                    {% else %}
                        <a id="quiz-complete"  class="btn module-btn-outline-{{module_number}}" href="#" >
                            Submit <span class = "px-2">{{source ('/assets/arrow_right.svg')}}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->

{% endblock %}