{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class = "container-fluid lesson-header">
        <div class = "container">
            <div class = "row lesson-navigation-top">
                <div class = "col-sm-2 col-md-4">
                    <a class = "btn btn-outline-info module-border-{{module_number}}" href = "{{current_unit.url}}">
                        <span class = "module-svg-fill-{{module_number}}">{{source('/assets/arrow_left.svg')}}</span>
                        <br>
                        <span class = "d-none d-md-block module-text-{{module_number}}">Back to Units</span> 
                    </a>
                </div>
                <div class = "col-sm-10 col-md-4 text-center my-4">
                    <!-- TODO: change lesson number to be dynamic-->
                    <h1><strong>Lesson 2/6</strong></h1>
                    <h1>{{function('get_the_title')}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper single-lesson-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "lesson-progress-sidebar">
            <p>Unit Progress will go here</p>
        </div>
        <!-- Lesson Content-->
        <div class = "container-fluid">
            <!-- This loop goes through all the ACF flexible content fields and embeds templates based upon the content types found in the lesson-->
            {% for content in post.get_field('lesson_content_types') %}
                <!-- Full width video -->
                {% if content.acf_fc_layout == 'full_width_video' %}
                    {% include '/lms/content-types/full-width-video.twig' %}
                <!-- Medium video -->    
                {% elseif content.acf_fc_layout == 'medium_video' %}
                    {% include '/lms/content-types/medium-video.twig' %}
                <!-- Pulled left smaller video -->      
                {% elseif content.acf_fc_layout == 'pulled_left_smaller_video' %}
                    {% include '/lms/content-types/pulled-left-smaller-video.twig' %}
                <!-- Pulled right smaller video -->      
                {% elseif content.acf_fc_layout == 'pulled_right_smaller_video' %}
                    {% include '/lms/content-types/pulled-right-smaller-video.twig' %}
                <!-- Carousel with text -->      
                {% elseif content.acf_fc_layout == 'carousel_with_text' %}
                    {% include '/lms/content-types/carousel-with-text.twig' %}
                <!-- Carousel image only -->      
                {% elseif content.acf_fc_layout == 'carousel_image_only' %}
                    {% include '/lms/content-types/carousel-image-only.twig' %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Bottom navigation-->
        <div class = "container">
            <hr>
            <div class="row my-4">
                <div class="col-sm-12 col-md-4 text-center">
                    {% if prev_url %}
                        <a href = "{{prev_url}}" class = "btn btn-outline-info module-text-{{module_number}} module-border-{{module_number}}"> <span class = "module-svg-fill-{{module_number}} p-2">{{source ('/assets/arrow_left.svg')}}</span>Previous Lesson</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                   Progress Component
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    {% if next_url %}
                        <a href = "{{next_url}}" class = "btn btn-outline-info module-border-{{module_number}}">Next Lesson <span class = "module-svg-fill-{{module_number}} p-2">{{source ('/assets/arrow_right.svg')}}</span></a>
                    {% elseif unit_completed %}
                        {% include '/lms/modals/modal-end-unit.twig' %}
                        <button type="button" class="btn btn-info module-bg-{{module_number}} module-border-{{module_number}}" data-toggle="modal" data-target="#end-unit-modal">
                            Complete Lesson <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span>
                        </button>
                    {% endif %}
                </div>                    
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
