{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class = "container-fluid">
        <div class = "row course-title">
            <div class = "col-sm-12 text-center">
                <h1 class = "m-4"><strong>{{function('get_the_title')}}</strong></h1>
            </div>
        </div>
    </div>
    <div class="wrapper single-course-wrapper background-secondary py-5" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "container">
            {% for module in modules %}
                <a class = "module-link" href = "{{module.link}}">
                    <div class = "card my-3"> 
                        <div class = "card-body">
                            <div class = "row">
                                <!-- Module Info -->
                                <div class = "col-sm-12 col-md-10">
                                    <div class = "header d-flex">
                                        <div class = "module-bg-{{module.module_number}} header-counter mr-2 p-4">
                                            <h3 class= "m-0">{{module.module_number}}</h3>
                                        </div>
                                        <div class = "header-text">
                                            <h2><strong>{{module.name}}</strong></h2>
                                            <h4 class = "module-text-{{module.module_number}} module-progress d-none d-sm-block">{{completed_units}}/{{total_units}} Units Complete</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <p>{{module.description}}</p>
                                </div>
                                <!-- Module Navigation Button -->
                                <div class = "col-sm-12 col-md-2 module-nav d-flex">
                                    <h4 class = "module-text-{{module.module_number}} module-progress d-sm-none">{{completed_units}}/{{total_units}} Units Complete</h4>
                                    <div class = "module-bg-{{module.module_number}} module-nav-button p-3 d-flex">
                                        <h3 class = "text-center">View Module</h3>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </a>
            {% endfor %}
        </div>
    </div><!-- #wrapper -->
{% endblock %}
