{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class = "container-fluid">
        <div class = "container">
            <div class = "row lesson-navigation-top">
                <div class = "col-sm-2 col-md-4">
                    <a class = "btn btn-outline-info" href "#">
                        {{source('/assets/arrow_left.svg')}}
                        <br>
                        <span class = "d-none d-md-block">Back to Units</span> 
                    </a>
                </div>
                <div class = "col-sm-10 col-md-4 text-center m-4">
                    <!-- TODO: change lesson number to be dynamic-->
                    <h1><strong>Lesson 2/6</strong></h1>
                    <h1>{{function('get_the_title')}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper single-lesson-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class = "lesson-progress-sidebar">
            <p>Unit Progress will go here</p>
        </div>
        <!-- Lesson Content-->
        <div class = "container-fluid">
            <!-- This loop goes through all the ACF flexible content fields and embeds templates based upon the content types found in the lesson-->
            {% for content in post.get_field('content_types') %}
                <!-- Full width video -->
                {% if content.acf_fc_layout == 'full_width_video' %}
                    {% include '/lms/content-types/full-width-video.twig' %}
                <!-- Medium video -->    
                {% elseif content.acf_fc_layout == 'medium_video' %}
                    {% include '/lms/content-types/medium-video.twig' %}
                <!-- Pulled left smaller video -->      
                {% elseif content.acf_fc_layout == 'pulled_left_smaller_video' %}
                    {% include '/lms/content-types/pulled-left-smaller-video.twig' %}
                <!-- Pulled right smaller video -->      
                {% elseif content.acf_fc_layout == 'pulled_right_smaller_video' %}
                    {% include '/lms/content-types/pulled-right-smaller-video.twig' %}
                <!-- Image carousel -->      
                {% elseif content.acf_fc_layout == 'carousel' %}
                    {% include '/lms/content-types/image-carousel.twig' %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Bottom navigation-->
        <div class = "container">
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center">
                    {% if prev_url %}
                        <a href = "{{prev_url}}" class = "btn btn-outline-info"> {{source ('/assets/arrow_left.svg')}} Previous Lesson</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    Progression Component
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    {% if next_url %}
                        <a href = "{{next_url}}" class = "btn btn-outline-info">Next Lesson {{source ('/assets/arrow_right.svg')}}</a>
                    {% else %}
                        <!-- If there is no next_url, then this lesson is the end of a unit, so the unit completion modal needs to fire -->
                        {% include '/lms/modals/modal-end-unit.twig' %}
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#end-unit-modal">
                            Complete Lesson {{source ('/assets/arrow_right.svg')}}
                        </button>
                    {% endif %}
                </div>                    
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
