{#
#  My Assignments page template included in template-assignments.php
#
#}

{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in base.twig #}
{% block content %}
    <div class="wrapper coach-dash-wrapper" id="coach-dash-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="container">
            <div class="row">

                <!-- Header -->
                <div class="col-12">
                    <h1 id="coach-dash-title" class="lbreaker-lms-purple mt-4">Coach assessment review dashboard</h1>
                    <a id="progress-dash-btn" class="primary-btn-outline px-1 py-1 rounded" href="/coach-progress">Go to progress dashboard</a>
                </div>

                <!-- Filter buttons -->
                <div class="col-12 mt-4">
                    <form id="coach-dash-filters" action=""  method="get">
                        <div class="row">
                            <!-- Choose course --> 
                            <div class="col-auto px-3 mb-4 mb-md-0">
                                <select type="select" name="fw_course" class="form-control custom-select coach-filter"   id="courseSelect"  style="max-width:150px" placeholder="" value="" required>
                                    <option value="" disabled  selected >Choose a course</option>
                                    {% for course in courses %}
                                        <option value="{{course.ID }}" {% if selected_course ==  course.ID %}selected{% endif %}  >{{course.post_title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Filter coaches -->
                            <div class="col-auto px-3 ">
                                <select type="select" name="coach" class="form-control custom-select coach-filter " id="coachSelect" style="max-width:150px"  placeholder="" value="" >
                                    <option value="" disabled selected >Filter coaches</option>
                                    <option value=""  >All coaches</option>
                                    {% for coach in coaches %}
                                        <option value="{{coach.ID }}" {% if selected_coach ==  coach.ID %}selected{% endif %}  >{{coach.display_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% if selected_course %} 
                                <!-- All modules -->
                                <div class="col-auto px-3 ">
                                    <select type="select" name="module"  class="form-control custom-select coach-filter " id="moduleSelect" style="max-width:150px" placeholder="" value="" >
                                        <option value=""  selected >All modules</option>
                                        {% for module in modules %}
                                            <option value="{{module.term_id}}" {% if module_id ==  module.term_id %}selected{% endif %}  >{{module.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- All teachers -->
                                <div class="col-auto px-3 ">
                                    <select type="select" name="user" class="form-control custom-select coach-filter " id="userSelect" style="max-width:150px" placeholder="" value="" >
                                        <option value=""  selected >All teachers</option>
                                        {% for key, teacher in assessments_data%}
                                            <option value="{{key}}" {% if key == teacher_id %}selected{% endif %} >{{teacher.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %} {# selected_course #}

                            <button id="coach-dash-filters-submit" type="submit" class="btn btn-lg primary-btn-fill m-3 m-md-0" >Submit filter</button>

                        </div>
                    </form>
                </div>      
            </div>

            <div class="row no-gutters">
                <div class="col-12  py-md-4">

                {% if selected_course %}

                    <div class="my-4">
                       <table id="data-table" class="resources table table-bordered  table-striped" cellpadding="0" cellspacing="0" border="0" width="100%">
                            <thead class="background-primary-light">
                            <tr>
                                <th>Teacher</th>
                                <th>Assessment</th>
                                <th>Module</th>
                                <th>Submission date</th>
                                <th>Feedback?</th>
                                <th>Status</th>
                                <th>Quiz Attempts</th>
                                <th>Grading type</th>
                                <th>Review</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for key, teacher in assessments_data %}
                                {% for key2, assessment in teacher.assessments %}
                                    <tr>

                                        <td>{{ teacher.name }}</td>
                                        <td>{{ assessment.lesson_name }}</td>
                                        <td>{{ assessment.week.name }}</td>
                                        <td>{{ assessment.date|date('d M Y') }}</td>
                                        <td class="feedback-indicator">
                                            {% if assessment.needs_feedback %}
                                                {% if assessment.feedback %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            {% else %}
                                                Auto
                                            {% endif %}</td>
                                        <td>{% if assessment.status == 'graded' %}Complete{% else %}Submitted{% endif %}</td>
                                        <td>{{assessment.quiz_attempts}}</td>
                                        <td>{% if assessment.needs_feedback %}
                                                Manually graded
                                            {% else %}
                                                Auto-graded
                                            {% endif %}
                                        </td>
                                        <td><a class="review-assessment" {% if assessment.needs_feedback %}href="/review-assessment?assessment_id={{ assessment.lesson_id }}&user_id={{ key }}"{% else %}href="/wp-admin/admin.php?page=sensei_grading&user={{key}}&quiz_id={{ assessment.quiz_id}}"{% endif %}  target="_blank">Review</a></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Please select a course to review</p>
                {% endif %} {# selected_course #}

                </div>
            </div>
        </section>
    </div><!-- #coach-dash-wrapper -->
{% endblock %}
