<!-- End of Unit Modal -->
{% set modal_id = "end-unit-modal" %}
{% embed "embeds/modals/modal-global.twig" %}
  {# Add quiz outcome header to modal #}
  {% block modal_header %}
    <h5 class="modal-title">
      <span class = "module-svg-icon-fill-{{module_number}} px-2">{{source('/assets/trophy_icon.svg')}}</span>
      <strong>{{attribute(options, lang.prefix~'well_done_text')}}, {{user.display_name}}!</strong>
    </h5>
  {% endblock %}
  {# Remove the close button #}
  {% block modal_close %}

  {% endblock %}
  {# Add quiz modal content to modal #}
  {% block modal_body %}

      <p>You have successfully completed the <strong>{{sub_unit_meta.unit_title}}</strong> unit</p>

  {% endblock %}

  {% block modal_footer %}
    <a href = "{{fn('get_permalink',sub_unit_meta.nav.next)}}" class = "btn primary-btn-fill text-center" >
      Continue <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span>
    </a>
  {% endblock %}

{% endembed %}

<script>
  jQuery(document).ready( function($) {
      $('#lesson-complete').click(function(){
        // If there's no survey or custom feedback message, show end of unit modal
        if(!$('#survey-modal').length && !$('#end-lesson-modal').length ) {
          $('#{{ modal_id }}').modal('show');
        }
        //If a survey modal is found, show that modal first 
        else if($('#survey-modal').length) {
          $('#survey-modal').modal('show');
        }
        //If a custom feedback message is found, show that modal first
        else if($('#end-lesson-modal').length){
          $('#end-lesson-modal').modal('show');
        }
      });
  });
</script>