<!--Survey Modal-->
{% set modal_id = "survey-modal" %}
{% embed "embeds/modals/modal-global.twig" %}
  {# Add quiz outcome header to modal #}
  {% block modal_header %}
    
  {% endblock %}
  {# Remove the close button #}
  {% block modal_close %}

  {% endblock %}
  {# Add quiz modal content to modal #}
  {% block modal_body %}

    {{feedback.survey_code}}

  {% endblock %}

  {% block modal_footer %}
    {% if sub_unit_meta.is_last_in_unit %}
      <button type="button" class="btn primary-btn-fill" id = "end-unit-modal-link" data-toggle="modal" data-target="#end-unit-modal">
        Continue <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span>
      </button>
    {% else %}
      <a href = "{{fn('get_permalink',sub_unit_meta.nav.next)}}" class = "btn primary-btn-fill">Continue <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span></a>
    {% endif %}
  {% endblock %}

{% endembed %}

<script>
  jQuery(document).ready( function($) {
      $('#lesson-complete').click(function(){
        $('#{{ modal_id }}').modal('show');
      });
  });
</script>