<!-- Video Content -->

{# Remove whitespace from beginning and end of the file name before appending to media url #}
{% set video_file_name = content.video_file_name | trim %}
{{ mixin.videoPlayer(media_url~video_file_name, content.holding_image, module_number, content_id) }}
<h5 class="text-italic text-center mt-2">
    {% if content.video_title %}
        {{content.video_title}} 
        <br>
    {% endif %}
    (<span id="{{content_id}}duration"></span>)
</h5>


{# This script gets the duration of the video from the meta data and adds it below the video player #}
<script>

    var vid = document.getElementById("{{content_id}}video");

    // Function to calculate the time in 00:00 format for printing out
    function fmtMSS(s){
        return(s-(s%=60))/60+(9<s?':':':0')+s
    }

    vid.addEventListener('loadedmetadata', function() {
        var duration = document.getElementById('{{content_id}}duration');
        duration.innerHTML = fmtMSS(Math.round(vid.duration));
    })

</script>