<div id = "end-lesson-modal" class="modal m-5" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content  px-5 py-3">
      <div class="lesson-modal-header modal-header text-center">
        <h5 class="modal-title"><span class = "module-svg-icon-fill-{{module_number}} px-2">{{source('/assets/trophy_icon.svg')}}</span><strong>Well done, {{user.display_name}}!</strong></h5>
        <!-- Commenting out as this button is not shown on mockups.
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        -->
      </div>
      <div class="modal-body">
        {{post.get_field('custom_feedback_message')}}
      </div>
      <div class="lesson-modal-footer modal-footer">
            <p>Module progress component to go here</p>
            <a href = "{{nav_links.next_link}}" class = "btn btn-info primary-border primary-bg">Continue <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span></a>
      </div>
    </div>
  </div>
</div>