<div class="d-flex flex-column flex-lg-row flex-lg-wrap align-items-start align-items-lg-center">
	<div class="d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-center">
			{% set media_path = media_url~content.file_name %}
			{{mixin.audioPlayerIcon(media_path, sub_unit_meta.module_number, content.title)}}
		</div>

	</div>
	<div class="d-flex justify-content-center justify-content-lg-end flex-grow-1 mt-3 mt-lg-0">
		<a href="{{media_url}}{{content.file_name}}" target="_blank" class="btn module-btn-fill-{{sub_unit_meta.module_number}} mx-lg-2" download>{{attribute(options, lang.prefix~'download_label')}}</a>
	</div>
</div>
<hr>
