<!-- Language Preference Modal -->
<div id = "language-preference" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-2 px-md-5 py-md-3">
      <div class = "text-center mt-5">
          {{ source('assets/logos/fw_logo_landscape.svg') }}
      </div>
      <div class="d-flex m-3">
        <div class = "d-flex justify-content-center align-items-center w-100">
        {% if user.language_preference %}
          <h5 class="modal-title text-center text-tertiary pl-3"><strong>{{attribute(options, lang.prefix~'chosen_language_text')}}</strong></h5>
        {% else %}
          <h5 class="modal-title text-center text-tertiary pl-3"><strong>{{attribute(options,'language_preference_title')}}</strong></h5>
        {% endif %}
        </div>
      </div>
      <div class="modal-body">
        <form class = "fw-form" method = "GET">
          <div class = "form-group text-center">
            <div class="btn-group" role="group" aria-label="Change Language buttons">
              <button class = "btn button-tertiary {% if lang.id == 'eng'%} active-button {% endif %}" type = "submit" name = "lang" value ="eng">English</button>
              {#// Default to eng for pilot#}
              {#// TODO uncomment for the language changing pilot#}
              {#<button class = "btn button-tertiary {% if lang.id == 'xho'%} active-button {% endif %}" type = "submit" name = "lang" value ="xho">Xhosa</button>#}
            </div>
          </div>
        </form>
        {% if user.language_preference %}
          <div class = "text-center"><p>{{attribute(options, lang.prefix~'chosen_language_explanation')}}</p></div>
          <div class = "py-3 text-center">
            <button id = "set-language-preference" class = "btn btn-lg primary-btn-fill" >{{attribute(options, lang.prefix~'continue_button_text')}} <span class = "p-2">{{source ('/assets/arrow_right.svg')}}</span></button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>