{# This button is shown when the user is on the last lesson of a course #}
 <button id="lesson-complete" onclick="completeCourse()" type="button" class="btn btn-lg module-btn-fill-{{sub_unit_meta.module_number}}" data-user-id="{{ user.ID }}" data-post-id="{{ post.ID }}">
    {{attribute(options, lang.prefix~'next_nav_text')}} <span class = "px-2">{{source ('/assets/arrow_right.svg')}}</span>
</button>